*
    text-decoration: none !important
    box-sizing: border-box
    &:visited, &:hover, &:active, &:focus
        text-decoration: none !important
body
    font-family: 'Noto Sans TC', sans-serif
    margin: 0