extends _layouts/page

block head_end
    link(rel="stylesheet", href="./style/main.css")

block content
    section.wrapper
        .container
            .row
                .col-12.col-lg-4
                    article.descrip-area
                        h1.subtitle 古都民宿
                        h2.description 
                            | 古都民宿坐落於和平區松鶴鄉的山腰，民宿主體採全木造和式裝潢，環境清幽寧靜。
                            br
                            br
                            | 此外，古都空間廣大，提供便利的廚房設施及烤肉空間，適合全家出遊，旅行登山！
                            br
                            br
                            | 古都特色
                            br
                            | 【全木造和式裝潢】
                            br
                            | 【備有廚房設施及烤肉空間】
                            br
                            | 【坐落山腰風景優美】
                        .home-icon
                            .icon-home
                .col-12.col-lg-8
                    include _partials/image-gallery
                    
