extends _layouts/page

block head_end
    link(rel="stylesheet", href="./style/main.css")

block content
    .wrapper
        .container
            .row
                .col-12.col-md-4
                    article.descrip-area
                        h1.subtitle 關於古都
                        h2.description 古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹古都介紹
                        .home-icon
                            .icon-home
                .col-12.col-md-8
                    include _partials/image-gallery
                    
