extends _layouts/page

block head_end
    link(rel="stylesheet", href="./style/main.css")
    link(rel="stylesheet", href="./style/rooms.css")
    //- fancybox
    link(rel="stylesheet", href="./lib/jquery.fancybox.min.css")
    script(src="./lib/jquery.fancybox.min.js")

block content
    aside#BP.booking-panel(style="display: none;")
        .main-logo
            .icon-logo
            .title 住宿預定
        form#BS.booking-sheet
            .each
                label.title(for="BN") 訂房人姓名
                input#BN(type="text" placeholder="請輸入訂房人姓名")
            .each
                label.title(for="BP") 訂房人電話
                input#BP(type="text" placeholder="請輸入訂房人電話")
            .each
                label.title(for="BE") EMAIL
                input#BE(type="text" placeholder="請輸入EMAIL")
            .each
                label.title(for="BR") 預定房型
                select#BR
                    option(value="2人房") 2人房-NT.2,500
                    option(value="4人房", selected) 4人房-NT.3,500
                    option(value="6人房") 6人房-NT.4,500
                    option(value="8人房") 8人房-NT.5,500
                    option(value="包棟(20人)") 包棟(20人)-NT.15,000
            //- .each
            //-     label.title(for="BRP") 加床人數
            //-     input(type="text" id="BRP" placeholder="請選擇加床人數")
            .each
                label.title(for="BD1") 入住日期
                input#BD1(type="date" placeholder="請選擇入住日期")
            .each
                label.title(for="BD2") 入住天數
                input#BD2(type="text" placeholder="請輸入入住天數")
            .each.option-bar
                button.send-form
                    .text
                        |填好
                        <br>
                        |送出

    section.wrapper
        .container
            .row
                .col-12.col-lg-4
                    article.descrip-area
                        h1.subtitle 鄉村4人房
                        h2.description
                            .detail
                                i.fas.fa-user-friends
                                | &nbsp; 4位 &nbsp;&nbsp;
                                i.fas.fa-bed
                                | &nbsp; 1張塌塌米 &nbsp;&nbsp;
                                i.fas.fa-shower
                                | &nbsp; 共用浴室 &nbsp;&nbsp;
                            hr
                            | 房間內包含兩張雙人床及電視，入住同時可享用園區內的各項設施，包含露營區、廚房、客廳、餐廳、烤肉區等。
                        .d-flex
                            .f-lg
                                | NT. 6,000
                            .home-icon
                                .icon-home
                    .room-options
                        .title 請選擇房型
                        .options
                            a.option-each(href="rooms.html") 2
                            a.option-each(href="rooms_4.html") 4
                            a.option-each(href="rooms_6.html") 6
                            a.option-each(href="rooms_8.html") 8
                            a.option-each(href="rooms_9.html")
                                .special-tag 推薦
                                | 包棟

                .col-12.col-lg-8
                    include _partials/image-gallery-simple
                    +image-gallery-simple(4)

    section.container
        .row
            .col-12
                .room-content
                    .title 可容納房客數
                    .icon-person
                    .icon-person
                    .icon-person
                    .icon-person
            .col-12
                .room-rules
                    .title 住戶守則
                    .row
                        .col-12.col-md-6
                            .rule-each
                                |退房時間為
                                span.f-red.f-bold 早上11點
                                |，敬請配合
                            .rule-each
                                |請愛惜會館設備，如有損壞需照價賠償
                            .rule-each
                                |請勿使用高功率設備以免跳電(如電暖爐、電磁爐等)
                            .rule-each
                                |離開房間請隨手關閉冷氣，節約能源
                            .rule-each
                                |為維護其他房客之權益，非貴房客預定房型的
                                span.f-red.f-bold 它房寢具請勿擅自使用
                            .rule-each
                                |請勿將
                                span.f-red.f-bold 戶外椅拿進室內
                                |以免刮傷地面
                        .col-12.col-md-6
                            .rule-each
                                |客房內
                                span.f-red.f-bold 禁止吸菸
                            .rule-each
                                |請勿攜帶寵物入住
                            .rule-each
                                |本民宿
                                span.f-red.f-bold 不提供
                                |暖氣設備
                            .rule-each
                                |民宿提供的設備用完請歸位，方便其他房客使用

            .col-12
                .room-services
                    .row
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon01.svg", alt="", width="100%", height="auto")
                                .name.f-green 乾溼分離
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon02.svg", alt="", width="100%", height="auto")
                                .name.f-green 茶包/茶葉
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon03.svg", alt="", width="100%", height="auto")
                                .name.f-green 廚房
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon04.svg", alt="", width="100%", height="auto")
                                .name.f-green 無線網路
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon05.svg", alt="", width="100%", height="auto")
                                .name.f-green 電視
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon06.svg", alt="", width="100%", height="auto")
                                .name.f-green 寢具
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon07.svg", alt="", width="100%", height="auto")
                                .name.f-green 盥洗用具
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon08.svg", alt="", width="100%", height="auto")
                                .name.f-green 吹風機
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon09.svg", alt="", width="100%", height="auto")
                                .name.f-green 木造建築
                        .col-4.col-md-3.col-lg-2
                            .service-each
                                .service-img.mt-4
                                    img(src="./images/icon10.svg", alt="", width="100%", height="auto")
                                .name.f-green 專屬車位

    aside.options-bar
        a.book-now(data-fancybox="" data-animation-duration="500" data-src="#BP" href="javascript:;") 馬上預約

    include ../script/rooms.script.pug
