link(rel="stylesheet", href="./style/plugins/chat-room.css")
#chatRoom.chat-room
  #chatBtn.toggle-btn 關閉留言板
  .chat-msg
    .msg 廖同學說：空間寬敞舒適，不怕喧鬧，很適合舉辦學校社團活動，下次我還要來 ♥
    .user-icon.u01
  .chat-msg
    .msg 林小姐說：民宿裝設考慮過兒童安全，帶小朋友來完全不用擔心會碰傷。
    .user-icon.u02
  .chat-msg
    .msg 黃先生說：非常適合全家大小一同出遊，民宿主人劉媽媽人很親切，加分！
    .user-icon.u03

include ../../script/chat-room.script.pug