link(rel="stylesheet", href="./style/plugins/image-gallery.css")

.image-gallery
  #carouselExampleIndicators.carousel.slide.custom-carousel(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
      li(data-target='#carouselExampleIndicators', data-slide-to='1')
      li(data-target='#carouselExampleIndicators', data-slide-to='2')
      li(data-target='#carouselExampleIndicators', data-slide-to='3')
      li(data-target='#carouselExampleIndicators', data-slide-to='4')
      li(data-target='#carouselExampleIndicators', data-slide-to='5')
    .carousel-inner
      .carousel-item.active
        .image-show.i01
      .carousel-item
        .image-show.i02
      .carousel-item
        .image-show.i03
      .carousel-item
        .image-show.i04
      .carousel-item
        .image-show.i05
      .carousel-item
        .image-show.i06
    a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
    //- .image-show.i01
  include ../_partials/chat-room
