link(rel="stylesheet", href="./style/header.css")
header.gudu-header.fixed
	.header-container
		a(href="index.html").each-option
			.text 關於古都
			.hover-frame
				.frame-icon.icon-menu-icon
		a(href="rooms.html").each-option 
			.text 古都房型
			.hover-frame
				.frame-icon.icon-menu-icon
		.each-option
			.main-logo.icon-logo
		a(href="#").each-option
			.text 古都設施
			.hover-frame
				.frame-icon.icon-menu-icon
		a(href="#").each-option 
			.text 古都周邊
			.hover-frame
				.frame-icon.icon-menu-icon
